stages:
    - build
    - test
    - deploy

job1:
    stage: build
    script:
        - echo "Hello I am job 1"

job2:
    stage: build
    script:
        - "echo "Hello I am job 2"

job3:
    stage: test
    script:
        - "echo "Hello I am job 3"

job4:
    stage: test
    script:
        - "echo "Hello I am job 4"
