variables:
    GREET: "Mundo"
    K8S_NS: "my-funky-project"

stages:
    - info

docker:
    stage: info
    image: "lwolf/kubectl_deployer"
    script:
        - "kubectl create namespace $K8S_NS --kubeconfig=$KUBE_CONFIG || :"
        - kubectl get all --kubeconfig=$KUBE_CONFIG --namespace=$K8S_NS
