stages:
    - generate
    - consume

job1:
    stage: generate
    script:
        - mkdir build
        - echo "Hello I am job 1 executed on the $CI_COMMIT_BRANCH branch" > build/job-result.txt
    artifacts:
        paths:
            - build/

job2:
    stage: generate
    script:
        - mkdir build
        - echo "Hello I am job 2 executed on the $CI_COMMIT_BRANCH branch" > build/job-result.txt
    artifacts:
        paths:
            - build/
            
job3:
    stage: consume
    script:
        - cat build/*-result.txt
