variables:
    GREET: "Mundo"

stages:
    - info
    - test

docker:
    stage: info
    services:
        - docker:dind
    script:
        - docker info
        - echo $CI_REGISTRY_NAME

java:
    stage: test
    image: "openjdk:14"
    script:
        - javac src/*.java
        - java -cp src/ Hello $GREET > result.txt
        - cat result.txt
        - cat result.txt | grep "Hello $GREET"

python:
    stage: test
    image: "python:3-slim"
    script:
        - python src/hello.py $GREET > result.txt
        - cat result.txt
        - cat result.txt | grep "Hello $GREET"
