image: alpine:3.12

stages:
  - build
  - test
  - deploy

buildjob1:
  stage: build
  script:
    - echo "This is job 1"
    - uuidgen
    - mkdir builds
    - touch builds/data.txt
    - echo $(hostname) > builds/data-$(uuidgen).txt
  artifacts:
    paths:
      - builds/

buildjob2:
  stage: build
  script:
    - echo "This is job 2"
    - hostname
    - mkdir builds
    - touch builds/data.txt
    - echo $(hostname) > builds/data-$(uuidgen).txt
  artifacts:
    paths:
      - builds/

buildjob3:
  stage: build
  script:
    - echo "This is job 3"
    - hostname
    - mkdir builds
    - touch builds/data.txt
    - echo $(hostname) > builds/data-$(uuidgen).txt
  artifacts:
    paths:
      - builds/

testjob1:
  stage: test
  script:
    - echo "This is test job 1"
    - mkdir results
    - touch results/files.txt
    - ls -la builds/*
