
stages:
  - build
  - test
  - deploy

buildjob1:
  stage: build
  image: openjdk:14-jdk
  script:
    - mkdir builds
    - javac -d builds src/English.java
  artifacts:
    paths:
      - builds/

buildjob2:
  stage: build
  image: openjdk:14-jdk
  script:
    - mkdir builds
    - javac -d builds src/German.java
  artifacts:
    paths:
      - builds/

buildjob3:
  stage: build
  image: openjdk:14-jdk
  script:
    - mkdir builds
    - javac -d builds src/Spanish.java
  artifacts:
    paths:
      - builds/

testjob1:
  stage: test
  script:
    - echo "This is test job 1"
    - cd builds
    - ls -la *
