variables:
    GREET: "Mundo"

stages:
    - info

docker:
    stage: info
    image: 
        name: "bitnami/kubectl:1.18"
        entrypoint: ["/bin/bash"]
    script:
        - kubectl version --kubeconfig=$KUBE_CONFIG
